<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ personal.name }} - {{ version_config.tagline }}</title>
    
    {# CSS Files - loaded in order #}
    <link rel="stylesheet" href="./css_fonts.css">
    <link rel="stylesheet" href="./css_styling.css">
    
    {# Additional metadata #}
    <meta name="description" content="{{ personal.name }} CV - {{ version_config.tagline }}">
    <meta name="author" content="{{ personal.name }}">
</head>
<body>
    <div class="cv-container">
        {# Header Section #}
        {% include 'components/header.html.j2' %}
        
        <div class="cv-main-content">
            {# Skills Section #}
            {% include 'components/skills.html.j2' %}
            
            {# Experience Section #}
            {% include 'components/experience.html.j2' %}
            
            {# Projects Section - not shown for executive version #}
            {% if version_config.layout != 'executive' %}
                {% include 'components/projects.html.j2' %}
            {% endif %}
            
            {# Education Section #}
            {% include 'components/education.html.j2' %}
        </div>
    </div>
</body>
</html>